<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>学分</title>
		<link rel="stylesheet" href="static/css/bootstrap.min.css" />
	</head>
	<body>
		<div class="container">	
			<div style="width: 100%;height:50px;text-align: center;line-height:50px;background: #0062CC;color:white">{{name}}你的各项学分如下</div>
			<table class="table">
			  <tbody>
			    <tr>
			      <td>&nbsp&nbsp总学分：{{zxf}}</td>
			    </tr>
			    <tr>
			      <td>{{bxxf}}</td>
			    </tr>
			    <tr>
			      <td>{{xxxf}}</td>
			    </tr>
			    <tr>
			      <td>{{tsxf}}</td>
			    </tr>
			    <tr>
			      <td>{{cxxf}}</td>
			    </tr>
			  </tbody>
			</table>
	    </div>
	</body>
</html>
